
.container {
    align-items: center;
    background-color: #eee;
    display: flex;
    height: 100vh;
    justify-content: center;
}


.text{

font-size: 200px;
font-family: Montserrat, serif;
position: relative;
margin: auto;
text-align: center;
width: 925px;

}



.text__inner{
background: #eee;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: 100%;
text-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}



.text__inner--bottom{
   color: #fff;
   z-index: 2;
   transition: clip-path .5s ease-in-out;
   clip-path: polygon(0 0, 100% 0, 104% 0, 0% 109%);
}

.text__inner--bottom:hover{
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.text__inner--top:hover + .text__inner--bottom
{
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}