* {
  box-sizing: border-box;
}


body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container{
  align-items: center;
  animation: gradient 5s ease-in-out infinite;
  background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1) 50% / 400% 400%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes gradient{
  0%{
    background-position: 0%;
  }
  50%{
    background-position: 100%;
  }
  100%{
    background-position: 0%;
  }
}
